.place__title {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 106%;
    align-self: flex-start;


}