.page {

/* мы ещё не умеем делать мобильную версию сайта, */
/* поэтому выше установлена минимальная ширина страницы */
width: 1280px;
height: 6875px;
/* выше установили ограничение по максимальной ширине */
color:  #FFFFFF;
background-color: #2A2C2F;
margin: 0;
}