.cover__subtitle {
    padding: 429px 412px 245px 412px;
    margin-block-start: 0;
    margin-block-end: 0;
    width: 360px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
    z-index: 2;
    position: absolute;
}

@media screen and (max-width: 1024px) {
    .cover__subtitle {
        padding: 379px 332px 195px 332px;

    }

}

@media screen and (max-width: 768px) {
    .cover__subtitle {
        padding: 299px 204px 115px 204px;

    }

}

@media screen and (max-width: 320px) {
    .cover__subtitle {
        padding: 119px 16px 33px 16px;
        width: 288px;
        font-size: 14px;
        line-height: 16px;

    }

}