.place {
    max-height: 680px;
    max-width: 984px;
    margin-bottom: 80px;
    display: grid;
    grid-column-gap: 48px;
    grid-row-gap: 40px;
    grid-template-columns: 460px 460px;
    

    
}

@media screen and (max-width: 1024px) {
    .place {
        max-height: 640px;
        max-width: 928px;
        margin-bottom: 80px;
        display: grid;
        grid-column-gap: 48px;
        grid-row-gap: 32px;
        grid-template-columns: 440px 440px;
      
    }

}

@media screen and (max-width: 768px) {
    .place {
        max-height: 581px;
        max-width: 100%;
        margin-bottom: 72px;
        display: grid;
        grid-column-gap: 28px;
        grid-row-gap: 48px;
        grid-template-columns: 340px 352px;
       
    }

}

@media screen and (max-width: 320px) {
    .place {
        max-height: 1042px;
        max-width: 320px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;

        
    }

}