.footer {
    width: 92.5vw;
    margin: 92px auto 24px auto;
    height: 18px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

@media screen and (max-width: 1024px) {
    .footer {
        width: 90.6vw;
        


    }

}

@media screen and (max-width: 780px) {
    .footer {
        width: 93.75vw;
        margin-top: 88px;


    }

}

@media screen and (max-width: 750px) {
    .footer {
        width: 90vw;
        margin-top: 64px;
        display: flex;
        flex-direction: column;
        height: 100%;


    }

}
