.place__website {
    display: flex;
    flex-direction: column;
    align-self: end;
}

@media screen and (max-width: 600px) {
    .place__website {
        width: 90vw;
        align-self: flex-start;
        margin-left: auto;
        margin-right: auto;
       
    }

}